In [ ]:
#Cyber Security (Security lock systems)
Create a UDF which takes a password and an username as an input.
There is a room security lock systems,...siren systems.
password: abc@entry_room
username: Dhanshree1122
If the password and username matches, then it would display "Welcome Dhanshree! Start from where you left."
and if the password or username or both does not matches . it should display " Invalid User, Sirens Alarm ring!!!!!"

In [48]:
def security_lock_system(username, password):
    # Stored credentials
    stored_username = "Dhanshree1122"
    stored_password = "abc@entry_room"
    
    # Check if the provided username and password match the stored ones
    if username == stored_username and password == stored_password:
        return "Welcome Dhanshree! Start from where you left."
    else:
        return "Invalid User, Sirens Alarm ring!!!!!"
# Example usage
input_username = input("Enter username: ")
input_password = input("Enter password: ")
# Get the result
result = security_lock_system(input_username, input_password)
# Print the result
print(result)

Enter username:  Dhanshree1122
Enter password:  abc@entry_room

Welcome Dhanshree! Start from where you left.

In [ ]:
#string

In [ ]:
#1.program to check whether the string is Symmetrical or Palindrome

In [1]:
string = "malayalam"
print("the string is palindrome" if string == ''.join(
    reversed(string)) else "the string is not palindrome")

the string is palindrome

In [ ]:
#2.Reverse the words in the given string program

In [7]:

string = "team plays one match with every other team"
# reversing words in a given string
s = string.split()[::-1]
l = []
for i in s:
	# appending reversed words to l
	l.append(i)

print(" ".join(l))

team other every with match one plays team

In [ ]:
#3.program to count number of vowels using sets in given string

In [11]:
string = "HOWAREYOU"
vowels = "aeiouAEIOU"

count = sum(string.count(vowel) for vowel in vowels)
print(count)

5

In [ ]:
#4.program to Convert a String to Title Case

In [21]:
def to_title_case(s):
    return s.title()

# Test
print(to_title_case("good morning"))

Good Morning

In [ ]:
#5.Write a function that checks if two given strings are anagrams (contain the same characters in a different order).

In [97]:
def check_anagrams(s1, s2):
    x = sorted(s1)
    y = sorted(s2)
    return x == y
    s1 = "listen"
s2 = "silent"
if check_anagrams(s1, s2):
    print("The strings are anagrams.")
else:
    print("The strings aren't anagrams.")

The strings are anagrams.

In [ ]:
#Tuple

In [ ]:
#1.Compare two tuples, tuple1 and tuple2, to check if they are equal.

In [27]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3,4,5)
print(tuple1 == tuple2)

False

In [ ]:
#2. Create two tuples names and ages containing names and ages of individuals. Zip these tuples to create a new tuple person_info containing pairs of (name, age).

In [29]:
names = ("Alice", "Bob", "Charlie")
ages = (25, 30, 35)
person_info = tuple(zip(names, ages))
print(person_info)

(('Alice', 25), ('Bob', 30), ('Charlie', 35))

In [ ]:
#3.Write a program to find the second-largest element from the tuple.

In [37]:
t = (1,5,8,7,6,3,2,4)
max_t = max(t)
length = len(t)
second_max = 0

for i in range(length):
    if second_max < t[i] < max_t:
        second_max = t[i]
        
print(second_max)

7

In [ ]:
#4.Write a program to check if a tuple contains duplicates

In [35]:
tup = (1,2,3,4,5,1,2,8,3,5,2,1,5,4)

for i in tup:
    if tup.count(i) > 1:
        print("Tuple contains Duplicates")
        break;
else:
    print("No Duplicates exists in the tuple")

Tuple contains Duplicates

In [ ]:
#5.Find the Index of an Element in a Tuple

In [43]:
Tuple = (10, 20, 30, 40, 50)
index = Tuple.index(50)
print("Index of element 50:", index)

Index of element 50: 4

In [ ]:
#List

In [ ]:
#1.Swap Two Elements in a List using comma assignment

In [5]:
def swapPositions(list, pos1, pos2):
     
    list[pos1], list[pos2] = list[pos2], list[pos1]
    return list
    # Driver function
List = [23, 65, 19, 90]
pos1, pos2  = 1, 3
 
print(swapPositions(List, pos1-1, pos2-1))

[19, 65, 23, 90]

In [7]:
#2.#Append the names in a new list which are present at even indexes.
names = ['Himanshu','Swagath','Vijay','Gaya','Siddhant','Pavithra','Dhivya','Chetan','Bilal','Yashwanth','Yash','Jyothi','Shiny','Kajol','Jaspreet','Shankar','Rasika','Akash','Satyajit']

In [9]:
new = []
for i in range(len(names)):
    if i%2==0:
        new.append(names[i])
    

    
print(new)

['Himanshu', 'Vijay', 'Siddhant', 'Dhivya', 'Bilal', 'Yash', 'Shiny', 'Jaspreet', 'Rasika', 'Satyajit']

In [11]:
#3.#You have to take four new lists : TCS , HCL, COG, IBM
#Append the empids given in the list into their respective company's list:

comp = ['TCS101','HCL201','COG324','IBM322','TCS301','HCL2201','COG3124','IBM3212','TCS1101','HCL2001','COG3214','IBM3221','TCS1601','HCL6201','COG3924','IBM3228']

In [15]:
TCS = []
HCL = []
COG = []
IBM = []
for i in comp:
    if i.startswith('TCS'):
        TCS.append(i)
    elif i.startswith('HCL'):
        HCL.append(i)
    elif i.startswith('COG'):
        COG.append(i)
    else:
        IBM.append(i)
    
    
print("TCS Employees Ids are:", TCS)
print("HCL Employees Ids are:",HCL)
print("IBM Employees Ids are:",IBM)
print("COG Employees Ids are:",COG)

TCS Employees Ids are: ['TCS101', 'TCS301', 'TCS1101', 'TCS1601']
HCL Employees Ids are: ['HCL201', 'HCL2201', 'HCL2001', 'HCL6201']
IBM Employees Ids are: ['IBM322', 'IBM3212', 'IBM3221', 'IBM3228']
COG Employees Ids are: ['COG324', 'COG3124', 'COG3214', 'COG3924']

In [17]:
#4.Check if 'Pavithra' is present in the list or not.
names = ['Himanshu','Swagath','Vijay','Gaya','Siddhant','Pavithra','Dhivya','Chetan','Bilal','Yashwanth','Yash','Jyothi','Shiny','Kajol','Jaspreet','Shankar','Rasika','Akash','Satyajit']

In [19]:
a = 'Pavithra'
if a in names:
    print("Present")
else:
    print("Not Present")

Present

In [21]:
#5.Find the total number of male and female in the list
gender = ['Female','Male','F','M','female','male','Female','Female','Male','F','M','female','male','Female','Female','Male','F','M','female','male','Female','Female','Male','F','M','female','male','Female','Female','Male','F','M','female','male','Female','Female','Male','F','M','female','male','Female','Female','Male','F','M','female','male','Female','Female','Male','F','M','female','male','Female','Female','Male','F','M','female','male','Female','Female','Male','F','M','female','male','Female','Female','Male','F','M','female','male','Female','Female','Male','F','M','female','male','Female','Female','Male','F','M','female','male','Female','Female','Male','F','M','female','male','Female','Female','Male','F','M','female','male','Female']

In [23]:
cf = 0
cm = 0
for i in gender:
    if i.startswith('F') or i.startswith('f'):
        cf = cf + 1
    else:
        cm = cm + 1
        
print("Total number of females are: ",cf)
print("Total number of males are: ",cm)

Total number of females are:  60
Total number of males are:  45

In [ ]:
#set

In [ ]:
#1.Write a  program to find common elements in two sets.

In [83]:
set_a = {1, 2, 3}
set_b = {3, 4, 5}
common_elements = set_a.intersection(set_b)
print(common_elements)

{3}

In [ ]:
#2.Write a  program to check if one set is a subset of another.

In [81]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}


print(scores.issubset(numbers))

True

In [ ]:
#3.Find the Union of Two Sets

In [79]:
# Define two sets
set_A = {1, 3, 5, 7}
set_B = {2, 4, 6, 8}

# Find the union using the union() method
union_result = set_A.union(set_B)


print("Union of set_A and set_B:", union_result)

Union of set_A and set_B: {1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
#4.Write a program to iterate over the elements of a set.

In [31]:
def iterate_set(s):
    for element in s:
        print(element)
numbers = {1, 2, 3, 4, 5}
print("Elements in the set:")
iterate_set(numbers)

Elements in the set:
1
2
3
4
5

In [ ]:
#5.Remove Elements from Set using the pop() Method

In [69]:
def Remove(initial_set):
    while initial_set:
        initial_set.pop()
        print(initial_set)
 
 
initial_set = set([12, 10, 13, 15, 8, 9])
Remove(initial_set)

{9, 10, 12, 13, 15}
{10, 12, 13, 15}
{12, 13, 15}
{13, 15}
{15}
set()

In [ ]:
#Dictionaries

In [ ]:
#1.sort the dictionary by keys and the result type will be a dictionary.

In [51]:
myDict = {'devika': 10, 'rajnish': 9,
        'anu': 15, 'yash': 2, 'suraj': 32}

myKeys = list(myDict.keys())
myKeys.sort()
sorted_dict = {i: myDict[i] for i in myKeys}

print(sorted_dict)

{'anu': 15, 'devika': 10, 'rajnish': 9, 'suraj': 32, 'yash': 2}

In [ ]:
#2. Write a program to add a key-value pair to a dictionary.

In [77]:
class MyDictionary(dict):
    def add(self, key, value):
        self[key] = value

dict_obj = MyDictionary()
dict_obj.add(1, 'Geeks')
dict_obj.add(2, 'forGeeks')
print(dict_obj)

{1: 'Geeks', 2: 'forGeeks'}

In [ ]:
#3.Write a  program to create a dictionary from two lists.

In [75]:
names = ['nik', 'katie', 'james']
ages = [32, 31, 34]

dictionary = dict(zip(names, ages))
print(dictionary)

{'nik': 32, 'katie': 31, 'james': 34}

In [53]:
#4.Write a  program to merge two dictionaries.

In [73]:
dict1 = {1: 'a', 2: 'b'}
dict2 = {2: 'c', 4: 'd'}
dict3 = dict2.copy()
dict3.update(dict1)
print(dict3)

{2: 'b', 4: 'd', 1: 'a'}

In [67]:
#5.

In [ ]:
#Looping statements

In [99]:
#1.#Print only the odd numbers from the given list using the for loop:
data = [88,39,80,31,70,90,100,121]
for i in data:
    if i%2!=0:
        print(i)

39
31
121

In [101]:
#2.#Print only the odd values and their indexes from the given list using the while loop:(Running the loop on indexes)
i = 0
while i<8:                 
    if data[i] % 2 != 0:   
        print(i, data[i])
    i = i + 1

1 39
3 31
7 121

In [103]:
#3.#Factorial using the for loop:
a = int(input("Enter a number"))
r = 1                                        
for i in range(1,(a+1)):    
    r = r * i
print(r)

Enter a number 5

120

In [105]:
#4.#Right angle triangle pattern for '$'
for i in range(0,5):
    for j in range(i+1):         
        print('$',end = '')
    print()

$
$$
$$$
$$$$
$$$$$

In [107]:
#5.#Get only the names from the list using break statement in the loop.(for loop ; loop on values)
li = ['Satya','Pavs','Bilal','Yash','Himan',2,32,283,20,387,28,19]  #heterogenous list
for i in li:
    if type(i) == int:
        break
    print(i)

Satya
Pavs
Bilal
Yash
Himan

In [ ]:
#UDF:USER DEFIND FUNCTION

In [109]:
1#.Create a UDF which gives the median of any five random values?
data = [20,9,35,45,5]
def med_four(l):             
    s = sorted(l)
    pos = len(s)//2          
    return s[pos]            
med_four(data)

20

In [111]:
2#.Create a UDF which gives the name having the max no of characters.

name1 = input("Enter first name")
name2 = input("Enter second name")
name3 = input("Enter third name")
def name_max(a,b,c):                                  #Positional arguments
    if len(a) > len(b) and len(a)> len(c):
        print(a , "has", len(a),"no of characters.")
    elif len(b) > len(a) and len(b)> len(c):
        print(b , "has", len(b),"no of characters.")
    else:
        print(c , "has", len(c),"no of characters.")
        
        
        
name_max(name1,name2,name3)

Enter first name Undertaker
Enter second name Dwayne Johnson
Enter third name shah Rukh Khan

shah Rukh Khan has 14 no of characters.

In [113]:
#3.Create a UDF which gives only the names starting with 'A' as an output. You can take names in a list or as an input

names = ['Allu', 'Sankar', 'Arjun', 'Venky','Zahid','Arun']


# print(names[0].startswith('A'))
answer = []
def names_start_with_A (names):
    for i in names:
        if i.startswith('A'):
         answer.append(i)

names_start_with_A(names)

print(answer)

['Allu', 'Arjun', 'Arun']

In [115]:
#4.#Create a UDF which gives the mean and median of any random 6 values.
data = [10,5,17,11,14,4,8]
def desc_six(l):                 
    mean = sum(l)/len(l)
    s = sorted(l)
    if len(s) %2 ==0:
        pos1 = len(s)//2
        pos2 = (len(s)//2) + 1
        median = (s[pos1] + s[pos2])/2
        return median
    else:
        pos = len(s)//2          
        return s[pos]
    
    
desc_six(data)

10

In [117]:
5#.Create a UDF which gives the mean and median of any random 6 values.

numbers =  [1,3,2,5,4,6]
def mean (data):
    su = sum(data)
    le = len(data)
    mean = su/le
    return mean

avg = mean(numbers)



def median (data):
    sort_list = sorted(data)
    pos= len(sort_list)//2
    return sort_list[pos]

avg = mean(numbers)
median_number = median(numbers)

print(avg, median_number)

3.5 4

In [ ]:
#iterator

In [ ]:
#1.Return an iterator from a tuple, and print each value:

In [119]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [ ]:
#2.Create an iterator that returns numbers, starting with 1, and each sequence will increase by one (returning 1,2,3,4,5 etc.):

In [121]:
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    x = self.a
    self.a += 1
    return x

myclass = MyNumbers()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4
5

In [ ]:
#3.Iterate the characters of a string

In [123]:
mystr = "banana"

for x in mystr:
  print(x)

b
a
n
a
n
a

In [ ]:
#4.Create a generator through which we can do iteration?

In [52]:
def square_gen(n):
    for i in range(n):
        yield i**2              #yield creates and gives the object(generator), it does not gives the values.It gets stopped.

In [54]:
a = square_gen(5)
a

In [56]:
next(a)                  #With the help of generator, we can do the iteration.

0

In [ ]:
#Lambda

In [ ]:
1#.Using the lambda, you have to get the floor value of each of the value given in the original list.

In [125]:
data = [23.456,34.987,60.2826,27.2727,14.3898,9.2272,15.878937] 
list(map(lambda l:int(l//5),data))

[4, 6, 12, 5, 2, 1, 3]

In [ ]:
#2.Multiply each value of the list by 10.

In [127]:
l = [10,20,30,40,50]
list(map(lambda i:i*10,l))

[100, 200, 300, 400, 500]

In [ ]:
#3.#Get those even values which are greater than 50 from the list using lambda function.

In [129]:
F = [12,35,66,9,96,25,39,33,45,48,60,72,77,84,91,3,21]
list(filter(lambda l:l%2==0 and l>50,F))

[66, 96, 60, 72, 84]

In [ ]:
#4.Multiply argument a with argument b and return the result:

In [131]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [ ]:
#5.#Using the lambda function, get the names of the cricketers from the list whose names are starting with vowels.
Cricketers = ['Sachin Tendulkar','Brain Lara','Ricky Ponting','Jaques Kallis','Adam Gilchrist','Virat Kohli','Mahendra Singh Dhoni','Sunil Gavaskar','Rohit Sharma','Virendra Sehwag','Rahul Dravid','Shane Warne','Kane Williamson','Trent Boult','Sanath Jayasuriya','James Anderson']

In [1]:
# List of cricketers
Cricketers = [
    'Sachin Tendulkar', 'Brain Lara', 'Ricky Ponting', 'Jaques Kallis', 'Adam Gilchrist',
    'Virat Kohli', 'Mahendra Singh Dhoni', 'Sunil Gavaskar', 'Rohit Sharma', 'Virendra Sehwag',
    'Rahul Dravid', 'Shane Warne', 'Kane Williamson', 'Trent Boult', 'Sanath Jayasuriya', 'James Anderson'
]

# Lambda function to check if a name starts with a vowel
starts_with_vowel = lambda name: name[0].lower() in 'aeiou'

# Filter the list using the lambda function
vowel_cricketers = list(filter(starts_with_vowel, Cricketers))

# Print the names of cricketers starting with vowels
print(vowel_cricketers)

['Adam Gilchrist']

In [ ]:
#OOPS Concept##

In [ ]:
#1.Single Inheritance: one parent-child relationship

In [5]:
class State:
    state = "Uttar Pradesh"
    capital = "Lucknow"
    def show_info(self):
        print(f'The capital of {self.state} is {self.capital}.')

class City(State):
    city = "Ghaziabad"
    mall = 'Pacific Mall'
    def gzb_info(self):
        print(f'You can visit {self.mall} in {self.city}')
        
        
c1 = City()
c1.show_info()
c1.gzb_info()

The capital of Uttar Pradesh is Lucknow.
You can visit Pacific Mall in Ghaziabad

In [ ]:
#2.Hierarchial Inheritance: One base class and multiple child class.

In [7]:
class Car:
    event = "Auto Expo 2024"
    city = "Gurgaon"
    color = "Black"
    top_speed = 200
    type_s = "Hatchbag"
    def about_car(self):
        print(f'A brand new {self.color} car which was launched at {self.event} in {self.city} is a {self.type_s} with a top speed of {self.top_speed} kmph.')
        
class Mahindra(Car):
    def mah_info(self):
        print(f'The new car belongs to Mahindra Motors.')
        
class Hyundai(Car):
    def hyun_info(self):
        print(f'The new car belongs to Hyundai Motors.')
        
h1 = Hyundai()
h1.hyun_info()
h1.about_car()
m1 = Mahindra()
m1.mah_info()
m1.about_car()

The new car belongs to Hyundai Motors.
A brand new Black car which was launched at Auto Expo 2024 in Gurgaon is a Hatchbag with a top speed of 200 kmph.
The new car belongs to Mahindra Motors.
A brand new Black car which was launched at Auto Expo 2024 in Gurgaon is a Hatchbag with a top speed of 200 kmph.

In [ ]:
#3. Multilevel Inheritance

In [9]:
class A:
    def a_feature(self):
        print("I am A")
        
        
class B(A):
    def b_feature(self):
        print("I am B")
        
class C(B):
    def c_feature(self):
        print("I am C")
        
        
c1 = C()
c1.c_feature()
c1.b_feature()
c1.a_feature()
#b1 = B()
#b1.b_feature()
#b1.a_feature()

I am C
I am B
I am A

In [ ]:
#4.Multiple Inheritance: multiple parent classes with one base class.

In [11]:
class Father:
    def pat(self):
        print("I am father.")
        
class Mother:
    def mam(self):
        print("I am mother.")
        
class Child(Father, Mother):
    def info(self):
        print("I am the son/daughter.")
        
c1  = Child()
c1.info()
c1.mam()
c1.pat()

I am the son/daughter.
I am mother.
I am father.

In [ ]:
#5.Method Resolution Order: Methods of same names in more than one the classes.

In [15]:
class Father:
    def info(self):
        print("Father")
    def new_info_2(self):
        print("Mother")
        
class Mother:
    def info(self):
        print("Mother")
    def new_info_1(self):
        print("Mother")
        
class Son(Father, Mother):
    def info(self):
        print("Son")
    def info_1(self):
        print("Son")
        
class Daughter(Father, Mother):
    def new_info(self):
        print("Daughter")
    def info_2(self):
        print("Son")
    
        
c1  = Daughter()
c1.new_info_1()

Mother

In [ ]:
#Polymorphism

In [ ]:
#1.sum of these three parameters.

In [19]:
def add(x, y, z = 0): 
    return x + y+z

#driver code
print(add(2,3))
print(add(2,3,4))

5
9

In [ ]:
#2.overriding in polymorphism

In [21]:
class Animal:
    def sound(self):
        return "Some sound"

class Dog(Animal):
    def sound(self):
        return "Bark"

dog = Dog()
print(dog.sound())

Bark

In [ ]:
#3.#simplest example
#how different classes can have methods with the same name but perform different actions based on the attributes defined within each class.

In [23]:

class A:
    a = 10
    b = 20
    def show_info(self):
        print(self.a+ self.b)
        
class B:
    a = "Jyoti"
    b = "Dhage"
    def show_info(self):
        print(self.a+" "+self.b)
        
obj2 = B()
obj2.show_info()

Jyoti Dhage

In [ ]:
#4.How Polymorphism can be achieved?
#Method Overloading: You have to use just one class having multiple methods.Methods with the same name but different number of parameters.
#Whenever a class contains more than one methods with the same name but different number of parameters is called Method overloading.

In [25]:
class Greeting:
    def show(self):
        print("Welcome")
    def show(self,firstname  = " "):
        print("Welcome", firstname)
    def show(self,firstname = " ",lastname = " "):
        print("Welcome",firstname,lastname)
        
        
obj = Greeting()
obj.show()        #which method will be called depends on the actual values

Welcome

In [27]:
class Summation:
    def display_sum(self,a = 0,b = 0):
        return a+b
    def display_sum(self,a = 0,b= 0,c= 0):
        return a+b+c
    
    
obj = Summation()
obj.display_sum(2,5)

7

In [29]:
class Employee:
    def emp_info(self,emp_id = " ",emp_name = " "):
        return emp_name + "-" + emp_id
    def emp_info(self,emp_id = " ",emp_name = " ",emp_designation =" "):
        return emp_name + "-"+ emp_id+"-"+emp_designation
        
inf = Employee()
#inf.emp_info("ASD123","Zahid Ahmed","Analyst")
inf.emp_info("ASD123","Zahid Ahmed")

'Zahid Ahmed-ASD123- '

In [ ]:
#Method Overriding
#Without Inheritance, Method overriding is not possible.Whenever we have the method of the same name in the parent and the child class.

In [31]:
class EduBridge:
    def info_display(self):
        print("EduBridge has many departments.")
class Training(EduBridge):
    def info_display(self):
        super().info_display()
        print("Training is one of the departments in EduBridge. Duration of training period is 6 months.")
class Placement(EduBridge):
    def info_display(self):
        print("Placement duration starts after training period.")
        
        
df = Training()
df.info_display()
        
#Method overriding can be achieved using Inheritance and super() function.

EduBridge has many departments.
Training is one of the departments in EduBridge. Duration of training period is 6 months.

In [ ]:
# Loops on Lists

In [58]:
#1. Display only the odd values of the list.
f = [15, 20, 23, 45, 60, 78, 91, 65, 78, 72, 60, 21, 35, 36, 40, 50, 88,33,11, 8, 4]

In [60]:

for i in f:
    if i%2!=0:
        print(i, end = " ")

15 23 45 91 65 21 35 33 11

In [ ]:
#2. Display the values at odd indexes.
#values_at_odd_indexes = [f[i] for i in range(len(f)) if i % 2 != 0]
#print(values_at_odd_indexes)

In [62]:

for i in range(len(f)):
    if i%2!=0:
        print(f[i], end = " ")

20 45 78 65 72 21 36 50 33 8

In [ ]:
#3. Store the even values from the list in a new list named "even".

In [64]:
even = []  #or even = list()   #these are the two ways to take empty lists
for i in f:
    if i%2==0:
        even.append(i)
        
print(even)

[20, 60, 78, 78, 72, 60, 36, 40, 50, 88, 8, 4]

In [ ]:
#4.Store the values at even indexes from the list in a new list named "even_2".

In [66]:
even_2 = []
for i in range(len(f)):
    if i % 2 == 0:
        even_2.append(f[i])
print(even_2)

[15, 23, 60, 91, 78, 60, 35, 40, 88, 11, 4]

In [ ]:
#5. Store the even values from the list in a new list named "even_u" after adding 100 to each value and
   #store the odd values from the list in a new list name"odd_u" after multiplying 100 to each value.

In [68]:

even_u = list()
odd_u = list()
for i in f:
    if i%2==0:
        even_u.append(i+100)
    else:
        odd_u.append(i*100)
        
print("List of even numbers:", even_u)
print("List of odd numbers:", odd_u)

List of even numbers: [120, 160, 178, 178, 172, 160, 136, 140, 150, 188, 108, 104]
List of odd numbers: [1500, 2300, 4500, 9100, 6500, 2100, 3500, 3300, 1100]

In [70]:
#6. Store the names whose length is less than equal to 5 in a new list named "five_l" otherwise store other names in "five_m".
#startswith   endswith(): these are string methods
names = ['Gayathri', 'Akash', 'Ritu', 'Ritik', 'Radha', 'Sankar', 'Venky', 'Jyoti', 'Dhanshree', 'Vepasa', 'Jahanvi', 'Vishnu', 'Manasa', 'Ritu']

In [72]:

five_l=[]
five_m=[]
for i in names:
    if len(i) <= 5:
        five_l.append(i)
    else:
        five_m.append(i)
        
        
print("names whose length is less than 5",five_l)
print("names whose length is more than 5",five_m)

names whose length is less than 5 ['Akash', 'Ritu', 'Ritik', 'Radha', 'Venky', 'Jyoti', 'Ritu']
names whose length is more than 5 ['Gayathri', 'Sankar', 'Dhanshree', 'Vepasa', 'Jahanvi', 'Vishnu', 'Manasa']

In [ ]:
#7. Store the names starting with 'V' in V list and the names starting with 'R' in R list.

In [74]:
R = []
V = []
for i in names:
    if i.startswith('V'):
        V.append(i)
    elif i.startswith('R'):
        R.append(i)
    else:
        pass
    
print(V)
print(R)

['Venky', 'Vepasa', 'Vishnu']
['Ritu', 'Ritik', 'Radha', 'Ritu']

In [ ]:
##Object and class

In [76]:
class Bollywood:
    singer = "Shreya Ghoshal"
    choreographer = "Remo D Souza"
    comedian = "Rajpal Yadav"
    actress = "Alia Bhatt"
    actor = "Ranbir Kapoor"
    imdb = 3.5
    def show_info(self):
        print(f'The funny song from the new movie stars {self.actor},{self.actress} and {self.comedian}.It is sung by {self.singer} and choreographed by {self.choreographer}.')
    def song_review(self):
        print(f'The imdb ratings given to the song is {self.imdb}, which is good.')
        
        
#we have to create an object of a class so that we can use the attributes and methods outside the class.        
obj1 = Bollywood()
obj1.singer = 'Arijit Singh'
obj1.comedian = 'Kapil Sharma'
obj1.choreographer = 'Farah Khan'
obj1.show_info()
obj1.song_review()

The funny song from the new movie stars Ranbir Kapoor,Alia Bhatt and Kapil Sharma.It is sung by Arijit Singh and choreographed by Farah Khan.
The imdb ratings given to the song is 3.5, which is good.

In [ ]:
#non-parametrized constructor

In [ ]:
**__init__ Constructor:even if we do not access the method outside the class, this constructor will automatically call the method.**

In [78]:
class Student:
    def __init__(self):                               # non-parametrized constructor
        self.name = input("Enter the name")
        self.course = input("Enter the course name.")
        self.duration = int(input("Enter the course duration in months."))
        self.state = input("Enter the state name.")
    def show_info(self):
        print(f'{self.name} has applied for {self.course} course, which is of {self.duration} months and the student belongs to {self.state}.')
        
        
first = Student()
first.show_info()

Enter the name Surya
Enter the course name. Data analyst
Enter the course duration in months. 6
Enter the state name. Kerala

Surya has applied for Data analyst course, which is of 6 months and the student belongs to Kerala.

In [ ]:
 # parametrized constructor

In [80]:
class Student:
    def __init__(self,name,course,duration,state):                               # parametrized constructor
        self.name = name
        self.course = course
        self.duration = duration
        self.state = state
    def show_info(self,name,course,duration,state):
        print(f'{self.name} has applied for {self.course} course, which is of {self.duration} months and the student belongs to {self.state}.')
        
        
first = Student("Shalini","MIS Analsyt",6,"Kerela")
first.show_info("Shalini","MIS Analsyt",6,"Kerela")

Shalini has applied for MIS Analsyt course, which is of 6 months and the student belongs to Kerela.